<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('template/head') %> 
</head>

<body>
  <%- include('template/navbar') %> 
  <div class="container">
      <% if(username) { %>
        <form>
          <div method="POST" action="/comments">
            <label>留言內容</label>
            <textarea name="content" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">送出留言</button>
        </form>
      <% } %>
      
      <% comments.forEach(function(comment) { %>
        <div class="card mt-2" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= comment.nickname %></h5>
            <p class="card-text"><%= comment.content %></p>
            <a class="card-link" href="/update_comments/<%= comment.id %>">編輯</a>
            <a class="card-link" href="/delete_comments/<%= comment.id %>">刪除</a>
          </div>
        </div>
      <% }) %>
  </div>
</body>

</html>